<h1>Messages</h1>

<table>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= link_to "Message #{message.id}", message_path(message) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

